bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
*.iws
*.ipr
EasyCal Backend.iws
application.conf
precompiled/
.idea
.ideaDataSources